{{!-- use this to set up saved articles page using html --}}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="text-center">The <img src="https://cdn0.iconfinder.com/data/icons/most-usable-logos/120/Yahoo_Massanger-512.png" alt="Yahoo Logo" width="75" height="75"> Scraper</h1>
  </div>
</div>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Saved Articles</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#">Scrape New Articles!</a>
  </li>
</ul>

<style>

html {
    background-image: url("https://media.istockphoto.com/photos/vintage-grunge-newspaper-collage-texture-background-picture-id962549796?k=6&m=962549796&s=612x612&w=0&h=kzs-xuTQYSaBQdcyToZAUTNI1Nm7s02hgG50eRrb4A8=");
    background-attachment: fixed;
}
.jumbotron {
    font-family:'Cinzel Decorative', cursive;
    background-color: white;
}

.nav {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
}

a {
    font-family:   'Cinzel Decorative', cursive;
    color: black;
    font-size: 18px;
}
</style>






<script src="../public/assets/javascript/saved.js"></script>